
<h1>Contact</h1>

<p>Este es mi formulario de contacto</p>

<form method="POST" action="/contacto">

   <label>Email:</label>
   <input tupe="email" name="email" />

   <label>Mensaje</label>
   <textarea name="message" ></textarea> />
   
   <input type="submit" value="Envia" />

</form>

 